body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    background-color: rgb(228, 222, 243);
}
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}
header h1 a {
    color: rgb(95, 101, 133);
    background-image: url("img/img2.jpg");

    font-size: 40px;
    text-decoration-line: underline;
    text-decoration-style: double;
}
p {
    
        font-style: oblique;
     
}
.nav-left {
    margin-right: center;
}
.nav-right {
    display: flex;
    padding-top: 2rem;
}
.post-entry {
    margin-bottom: 2rem;
}
.post-entry h2 {
    margin: 0.5rem 0;
}
.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}
.post-entry p {
    margin: 0;
    font-weight: 400;

}
.post-entry h2 a:hover {
    color: rgb(10, 9, 78);
}
