{% load static %}

<html>
    <head>
        <title>My travel Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
        rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

    </head>
    <body>
      <div> 
            <header>
                <div class="nav-left"> 
                    <h1><a href="{% url 'home' %}">My Travel  Blog </a></h1>
                    <img src="{% static "img/img2.jpg" %}" alt="My image" width="1000"
                    height="300"/>
                    
                </div>  
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">Enter New Blog Post</a>
                </div>

            </header>
            
                {% block content %}
                {% endblock content %}

        </div>
    </body>
</html>