{% extends 'base.html' %}
{% block content %}

    <div class="post-entry">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body }}</p>
    </div>
    <a href="{% url 'post_edit' post.pk %}">Click to edit Blog Post</a>
    <p><a href="{% url 'post_delete' post.pk %}">Click to delete Blog Post</a></p>
{% endblock content %}